<label class="label-campo label-autocompleto-select2"></label>
<div class="autocompleto-select2-container">
	<select class="typehead autocompleto-select2 form-control"></select>
</div>
<input type="hidden" class="autocompleto-select2-desc">
