<div class="generic-select2-container">
	<div class="form-group autocompleto-select2-container">
		<label class="label-campo label-autocompleto-select2"></label>
		<br>
		<select class="typehead autocompleto-select2 form-control"></select>
		<input type="hidden" class="autocompleto-select2-desc">
	</div>
</div>

