.generic-select2 {
	width: 100%;
}

.generic-select2-container {
	width: 100%;
}

/* agrego / sobreescribo el estilo por omision de select2 para los dropdowns */ 
.generic-select2 span.select2-container--default.select2-container--disabled .select2-selection--single {
	cursor: not-allowed;
}

.generic-select2 .autocompleto-select2-container {
	padding-left: 8px;
}

.generic-select2 .select2-container--default .select2-selection--single {
	border-color: #ccc;
	padding-top: 3px;
}

.generic-select2 .select2-container--default .select2-selection--single .select2-selection__placeholder {
	color: #555;
	font: 16px calibri; 
}

.generic-select2 .select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #555;
	font: 16px calibri; 
}

.generic-select2 .select2-container--default .select2-results > .select2-results__options {
	color: #555;
	font: 16px calibri; 
}

.generic-select2 input {
	background-image: url("/images/arrow-down-01-128.png");
	background-position: calc(100% - 10px) center;
	*background-position: right center;
	background-repeat: no-repeat;
	-webkit-background-size: 20px;
    -moz-background-size: 20px;
    -o-background-size: 20px;
    background-size: 20px;
}

.generic-select2 .autocompleto {
}

.generic-select2 .typeahead-hint {
	background-color: #0f0;	
}

.generic-select2 .typeahead-menu {
	background-color: #fff;	
}

.generic-select2 .typeahead-dataset {
    border-radius: 5px;
    border: 1px solid #abc;
    padding: 10px;
    box-shadow: 2px 2px 2px 0 #bcd;
	max-height: 150px;
	overflow-y: auto;
	width: 400px;
}

.generic-select2 .typeahead-suggestion {
	background-color: #0ff;	
}

.generic-select2 .typeahead-empty {
	background-color: #f0f;	
}

.generic-select2 .typeahead-open {
}

.generic-select2 .typeahead-cursor {
	background-color: #ccc;	
}

.generic-select2 .typeahead-hightlight {
	background-color: #008;	
}

.generic-select2 .typeahead-selectable {
	background-color: #fff;
}

.generic-select2 .tt-dropdown-menu {
}
